# Mark Python as detectable
*.py linguist-detectable=true

# Mark JavaScript, and CSS as detectable
*.js linguist-detectable
*.html linguist-detectable
*.css linguist-detectable

# Exclude irrelevant or non-code files
*.ipynb linguist-vendored
*.csv linguist-vendored
*.shp linguist-vendored
*.bin linguist-vendored
*.joblib linguist-vendored

# Treat frontend directories as normal source code
backend/**/* -linguist-detectable
urban-health-consultant-v0-frontend/**/* -linguist-detectable
